.camera-booth-background {
    /* This is the background image for the camera booth located in public folder */
    background-image: url('/Shutter Box New Logo V2 2021 Final 2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

body {
    background-color: black;
    
}
.flash{ 
    position:fixed; 
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
 }