.camera-booth-background {
    /* This is the background image for the camera booth located in public folder */
    background-image: url('/Paul Aglipay-Certificate.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}